<h2 class="page-header">Upload</h2>
{{!-- <p>Faça o upload de uma imagem</p> --}}

<input type="file" onchange="onFileSelected(event)"/>
<br>
<a name="imagem" onclick="onUpload()" href="/result"><button>Upload</button></a>

<script> 
  selectedFile = null;

  function onFileSelected(event) {
    selectedFile = event.target.files[0];
  }

  function onUpload() {
    localStorage.setItem(selectedFile.name, selectedFile);
  } 
</script>