<h2 class="page-header">Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Usuário</label>
    <input type="text" class="form-control" name="username" placeholder="Nome de usuário">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control" name="password" placeholder="Senha">
  </div>
  <button type="submit" class="btn btn-default">Entrar</button>
</form>