<h2 class="page-header">Registrar</h2>
{{#if user}}
        <div class="alert alert-danger">Usuário já está sendo utilizado.</div> 
{{/if}}
{{#if mail}}
        <div class="alert alert-danger">E-mail já está sendo utilizado.</div> 
{{/if}} 
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/register">
   <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" placeholder="Nome" name="name">
  </div>
  <div class="form-group">
    <label>Nome de usuário</label>
    <input type="text" class="form-control" placeholder="Nome de usuário" name="username">
  </div>
   <div class="form-group">
    <label>E-mail</label>
    <input type="email" class="form-control" placeholder="E-mail" name="email">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control" placeholder="Senha" name="password">
  </div>
  <div class="form-group">
    <label>Confirmar Senha</label>
    <input type="password" class="form-control" placeholder="Senha" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Registrar</button>
</form>